<app-navbar></app-navbar> <!-- <- Aquí se llama el componente de navbar -->

<!-- Fondo animado -->
<div class="background-slideshow"></div>
<div class="overlay"></div>

<div class="main-content">
  <div class="header">
    <h1>Categorías</h1>
  </div>

  <div class="categories-grid">
    <div class="category-item" (click)="vistaCategorias('restaurantes')">
      <div class="category-icon">
        <span class="material-symbols-outlined">restaurant</span>
      </div>
      <button class="category-button">Restaurantes</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('mercados')">
      <div class="category-icon">
        <span class="material-symbols-outlined">storefront</span>
      </div>
      <button class="category-button">Mercados</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('parques')">
      <div class="category-icon">
        <span class="material-symbols-outlined">park</span>
      </div>
      <button class="category-button">Parques</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('super-mercados')">
      <div class="category-icon">
        <span class="material-symbols-outlined">shopping_cart</span>
      </div>
      <button class="category-button">Super Mercados</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('iglesias')">
      <div class="category-icon">
        <span class="material-symbols-outlined">church</span>
      </div>
      <button class="category-button">Iglesias</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('tiendas')">
      <div class="category-icon">
        <span class="material-symbols-outlined">store</span>
      </div>
      <button class="category-button">Tiendas</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('plazas')">
      <div class="category-icon">
        <span class="material-symbols-outlined">local_mall</span>
      </div>
      <button class="category-button">Plazas</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('antros')">
      <div class="category-icon">
        <span class="material-symbols-outlined">nightlife</span>
      </div>
      <button class="category-button">Antros</button>
    </div>

    <div class="category-item" (click)="vistaCategorias('gourmet_urbano')">
      <div class="category-icon">
        <span class="material-symbols-outlined">nightlife</span>
      </div>
      <button class="category-button">Gourmet Urbano</button>
    </div>

    <div class="category-item">
      <div class="category-icon">
        <span class="material-symbols-outlined">help</span>
      </div>
      <button class="category-button">Ayuda</button>
    </div>
  </div>
</div>
